<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find healthbot)/urdf/healthbot.xacro'"/>

  <!-- Load controller config from the yaml file to the parameter server -->
  <rosparam file="$(find healthbot)/config/healthbot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" ns="/healthbot"
    args="joint_state_controller palm_riser_controller right_wheel_controller left_wheel_controller
    left_finger_controller left_finger_tip_controller right_finger_controller right_finger_tip_controller"
  />

  <!-- combine joint values for the forward kinamatics of the robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
  type="robot_state_publisher">
    <remap from="/joint_states" to="/healthbot/joint_states" />
  </node>

  <!-- launch Gazebo -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find healthbot)/worlds/bot.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- spawn a URDF robot in gazebo-->
  <node name="urdf_spwaner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model healthbot -param robot_description"/>

  <!-- show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find healthbot)/config/rviz_config.rviz"/> -->

</launch>
